.heading{
    width: 100%;
}
.heading h2{
    display: inline;
    color: red;
    float: left;
}
.heading button{
    float: right;
    border: 1px solid white;
    border-width: 2px;
    border-color: red;
    color: black;
    font-size: 20px;
}
#mario
{
    width: 100%;
    position: center;
    background-size: cover;
}
#start,#status{
    font-size: 22px;
}
body{
    align-items: center;
}
h4{
    background-color: white;
    line-height: 2;
    margin: 2px;
}
.modal-dialog{
    width: 80%;
}
.Instruction_image{
width: 45%;
display: inline;
}
video{
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}